# Leiningen
target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.nrepl-history

# Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Log files
*.log
hs_err_pid*.log

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Native libraries
native/

# Temporary files
*~
\#*\#
.\#*